#header-logo, header div {
  display: inline-block; }

#signup-form {
  padding-bottom: 1rem; }
  #signup-form div {
    padding: 1em 0; }
    #signup-form div label, #signup-form div span {
      display: block;
      padding-left: 0.5em; }
    #signup-form div input, #signup-form div textarea, #signup-form div select {
      display: block;
      width: 100%;
      border: none;
      background: rgba(229, 229, 103, 0.1);
      padding: 0.5em; }
    #signup-form div span {
      padding-top: 1em; }
    #signup-form div select {
      height: 1.5em !important;
      line-height: 1.5 !important; }
    #signup-form div p {
      padding: 0.5rem 0.5rem;
      font-size: 0.75em; }
