<form class="col-md-6 offset-md-3 clearfix" id="signup-form" action="/sign-up/" method="post">
    {% csrf_token %}
    {% for fieldset in form.fieldsets %}
    <fieldset class="{{ fieldset.classes }}">
        {% if fieldset.title not in 'member_data,stats'|slice:',' %}
        <legend>{{ fieldset.title }}</legend>
        {% endif %}

            {% for field in fieldset %}
                <div class="container">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                <p class="container help_text">{{ field.help_text }}</p>
                {% endif %}
                {% if field.errors %}
                <p class="container errors">{{ field.errors }}</p>
                {% endif %}
                </div>
            {% endfor %}
    </fieldset>
    {% endfor %}

      <!-- submit button -->
      <p>Submit to move on to the payment screen and confirm your membership.</p>
      <input class="btn btn-secondary btn-lg pull-right" type="submit" value="Sign up" />
</form>